// Layout
// ---------------------------------------------------------------------------

.aspect-1x1 {
	aspect-ratio: 1 / 1; /* Square */
}

.aspect-4x3 {
	aspect-ratio: 4 / 3; /* Standard */
}

.aspect-16x9 {
	aspect-ratio: 16 / 9; /* Widescreen */
}

.aspect-21x9 {
	aspect-ratio: 21 / 9; /* Ultra-Widescreen */
}

.aspect-3x2 {
	aspect-ratio: 3 / 2; /* Classic */
}

.aspect-9x16 {
	aspect-ratio: 9 / 16; /* Vertical Video */
}

.aspect-2x1 {
	aspect-ratio: 2 / 1; /* Wide */
}

.aspect-3x1 {
	aspect-ratio: 3 / 1; /* Extra Wide */
}

.aspect-1x2 {
	aspect-ratio: 1 / 2; /* Tall */
}

.aspect-1x3 {
	aspect-ratio: 1 / 3; /* Extra Tall */
}
