// Layout
// ---------------------------------------------------------------------------

.z-under {
	z-index: var(--z-under);
}

.z-bottom {
	z-index: var(--z-bottom);
}

.z-page-bottom {
	z-index: var(--z-page-bottom);
}

.z-page-mid {
	z-index: var(--z-page-mid);
}

.z-page-top {
	z-index: var(--z-page-top);
}

.z-header-bottom {
	z-index: var(--z-header-bottom);
}

.z-header-mid {
	z-index: var(--z-header-mid);
}

.z-header-top {
	z-index: var(--z-header-top);
}

.z-panel-bottom {
	z-index: var(--z-panel-bottom);
}

.z-panel-mid {
	z-index: var(--z-panel-mid);
}

.z-panel-top {
	z-index: var(--z-panel-top);
}

.z-modal-bottom {
	z-index: var(--z-modal-bottom);
}

.z-modal-mid {
	z-index: var(--z-modal-mid);
}

.z-modal-top {
	z-index: var(--z-modal-top);
}

.z-top {
	z-index: var(--z-top);
}
