// Layout
// ---------------------------------------------------------------------------

.layout-horizontal {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.layout-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.layout-vertical {
	display: flex;
	flex-direction: column;
}

[class*='layout-'].distributed {
	justify-content: space-between;
}
