.height-x0 {
	height: var(--icon-size-x0);
}

.height-xx {
	height: var(--icon-size-xx);
}

.height-xs {
	height: var(--icon-size-xs);
}

.height-sm {
	height: var(--icon-size-sm);
}

.height-md {
	height: var(--icon-size-md);
}

.height-lg {
	height: var(--icon-size-lg);
}

.height-xl {
	height: var(--icon-size-xl);
}

.size-x0 {
	height: var(--icon-size-x0);
	width: var(--icon-size-x0);
}

.size-xx {
	height: var(--icon-size-xx);
	width: var(--icon-size-xx);
}

.size-xs {
	height: var(--icon-size-xs);
	width: var(--icon-size-xs);
}

.size-sm {
	height: var(--icon-size-sm);
	width: var(--icon-size-sm);
}

.size-md {
	height: var(--icon-size-md);
	width: var(--icon-size-md);
}

.size-lg {
	height: var(--icon-size-lg);
	width: var(--icon-size-lg);
}

.size-xl {
	height: var(--icon-size-xl);
	width: var(--icon-size-xl);
}

.width-x0 {
	width: var(--icon-size-x0);
}

.width-xx {
	width: var(--icon-size-xx);
}

.width-xs {
	width: var(--icon-size-xs);
}

.width-sm {
	width: var(--icon-size-sm);
}

.width-md {
	width: var(--icon-size-md);
}

.width-lg {
	width: var(--icon-size-lg);
}

.width-xl {
	width: var(--icon-size-xl);
}
