// Layout
// -----------------------------------------------------------------------------

.margin {
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
}

.margin-x0 {
	margin: 0.125rem;
}

.margin-xx {
	margin: 0.25rem;
}

.margin-xs {
	margin: 0.5rem;
}

.margin-sm {
	margin: 0.75rem;
}

.pad {
	margin: 1rem;
}

.margin-lg {
	margin: 1.25rem;
}

.margin-xl {
	margin: 1.5rem;
}

.padded {
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.pad-x0 {
	padding: 0.125rem;
}

.pad-xx {
	padding: 0.25rem;
}

.pad-xs {
	padding: 0.5rem;
}

.pad-sm {
	padding: 0.75rem;
}

.pad {
	padding: 1rem;
}

.pad-lg {
	padding: 1.25rem;
}

.pad-xl {
	padding: 1.5rem;
}

.pad {
	@each $side in ('top', 'right', 'bottom', 'left') {
		&-#{$side}-x0 {
			padding-#{$side}: 0.125rem;
		}

		&-#{$side}-xx {
			padding-#{$side}: 0.25rem;
		}

		&-#{$side}-xs,
		&-#{$side}-x-small {
			padding-#{$side}: var(--pad-x-small);
		}

		&-#{$side}-sm,
		&-#{$side}-small {
			padding-#{$side}: var(--pad-small);
		}

		&-#{$side},
		&-#{$side}-md,
		&-#{$side}-medium {
			padding-#{$side}: var(--pad-medium);
		}

		&-#{$side}-lg,
		&-#{$side}-large {
			padding-#{$side}: var(--pad-large);
		}

		&-#{$side}-xl,
		&-#{$side}-x-large {
			padding-#{$side}: var(--pad-x-large);
		}
	}
}

.pull {
	@each $side in ('top', 'right', 'bottom', 'left') {
		&-#{$side}-xs,
		&-#{$side}-x-small {
			margin-#{$side}: calc(var(--margin-x-small) * -1);
		}

		&-#{$side}-sm,
		&-#{$side}-small {
			margin-#{$side}: calc(var(--margin-small) * -1);
		}

		&-#{$side},
		&-#{$side}-md,
		&-#{$side}-medium {
			margin-#{$side}: calc(var(--margin-medium) * -1);
		}

		&-#{$side}-lg,
		&-#{$side}-large {
			margin-#{$side}: calc(var(--margin-large) * -1);
		}

		&-#{$side}-xl,
		&-#{$side}-x-large {
			margin-#{$side}: calc(var(--margin-x-large) * -1);
		}
	}
}

.push {
	@each $side in ('top', 'right', 'bottom', 'left') {
		&-#{$side}-xs,
		&-#{$side}-x-small {
			margin-#{$side}: var(--margin-x-small);
		}

		&-#{$side}-sm,
		&-#{$side}-small {
			margin-#{$side}: var(--margin-small);
		}

		&-#{$side},
		&-#{$side}-md,
		&-#{$side}-medium {
			margin-#{$side}: var(--margin-medium);
		}

		&-#{$side}-lg,
		&-#{$side}-large {
			margin-#{$side}: var(--margin-large);
		}

		&-#{$side}-xl,
		&-#{$side}-x-large {
			margin-#{$side}: var(--margin-x-large);
		}
	}
}

.gap-xs,
.gap-x-small {
	gap: var(--gap-x-small);
}

.gap-sm,
.gap-small {
	gap: var(--gap-small);
}

.gap,
.gap-medium {
	gap: var(--gap-medium);
}

.gap-lg .gap-large {
	gap: var(--gap-large);
}

.gap-xl,
.gap-x-large {
	gap: var(--gap-x-large);
}
