// Layout
// -----------------------------------------------------------------------------

.padded {
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.margin {
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
}

.pad {
	@each $side in ('top', 'right', 'bottom', 'left') {
		&-#{$side}-xs {
			padding-#{$side}: 0.5rem;
		}

		&-#{$side}-sm {
			padding-#{$side}: 0.75rem;
		}

		&-#{$side} {
			padding-#{$side}: 1rem;
		}

		&-#{$side}-lg {
			padding-#{$side}: 1.25rem;
		}

		&-#{$side}-xl {
			padding-#{$side}: 1.5rem;
		}

		&-#{$side}-xx {
			padding-#{$side}: 2.25rem;
		}
	}
}

.pull {
	@each $side in ('top', 'right', 'bottom', 'left') {
		&-#{$side}-xs {
			margin-#{$side}: -0.5rem;
		}

		&-#{$side}-sm {
			margin-#{$side}: -0.75rem;
		}

		&-#{$side} {
			margin-#{$side}: -1rem;
		}

		&-#{$side}-lg {
			margin-#{$side}: -1.25rem;
		}

		&-#{$side}-xl {
			margin-#{$side}: -1.5rem;
		}

		&-#{$side}-xx {
			margin-#{$side}: -2.25rem;
		}
	}
}

.push {
	@each $side in ('top', 'right', 'bottom', 'left') {
		&-#{$side}-xs {
			margin-#{$side}: 0.5rem;
		}

		&-#{$side}-sm {
			margin-#{$side}: 0.75rem;
		}

		&-#{$side} {
			margin-#{$side}: 1rem;
		}

		&-#{$side}-lg {
			margin-#{$side}: 1.25rem;
		}

		&-#{$side}-xl {
			margin-#{$side}: 1.5rem;
		}

		&-#{$side}-xx {
			margin-#{$side}: 2.25rem;
		}
	}
}
