// Layout
// ---------------------------------------------------------------------------

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

a.no-decoration {
	border: 0;
	text-decoration: none;
}
