// Layout
// ---------------------------------------------------------------------------

.page-playground {
	background-color: var(--chalky-offwhite);
	margin: 0 auto;
	max-width: 1024px;
	padding: 2rem;
	text-align: left;

	.level-0 {
		margin: 2rem 0;
		padding: 2rem 0;
	}

	.level-1 {
		margin: 2rem 0;
		padding-left: 300px;

		> header {
			float: left;
			margin-left: -300px;
		}
	}
}
