// Layout
// ---------------------------------------------------------------------------

::placeholder {
	color: var(--chalky-grey);
}

fieldset {
	legend {
		display: none;
	}

	~ footer {
		text-align: right;
	}
}

label {
	display: block;
	margin: 1.5rem 0;
	width: 100%;

	a {
		margin-bottom: 0.75rem;
		margin-top: 0.5rem;
	}

	h6 {
		color: var(--chalky-grey-3);
		font-size: 0.75rem;
		margin-bottom: 0.5rem;
		margin-left: 0.5rem;
	}

	.type-error {
		margin-left: 1rem;
	}

	input + a {
		float: right;
	}
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='text'],
select,
textarea {
	background-color: var(--chalky-white);
	border: 1px solid var(--chalky-grey);
	border-radius: var(--rounded-corner);
	color: var(--chalky-blue);
	font-size: 0.875rem;
	font-weight: var(--font-weight-medium);
	outline: var(--input-outline-width) solid rgba(170, 170, 170, 0.24);
	padding: 0.5rem 0.85rem;
	transition: outline 0.25s ease-in-out;
	width: 100%;

	&:-webkit-autofill {
		-webkit-text-fill-color: var(--chalky-blue) !important; /* Override autofill text color */
		background-color: var(--chalky-white) !important;
		box-shadow: 0 0 0px 1000px var(--chalky-white) inset !important;
		caret-color: var(--chalky-blue) !important; /* Fix caret visibility */
		color: var(--chalky-blue) !important;
	}

	&:placeholder-shown {
		font-weight: var(--font-weight-book);
	}
}

input:not(:invalid),
textarea:not(:invalid) {
	+ .type-error {
		opacity: 0;
	}
}

// Controls
// ---------------------------------------------------------------------------

input[type='checkbox'],
input[type='radio'] {
	accent-color: var(--input-accentcolor);
	height: var(--input-toggleable-size);
	margin-right: 0.5rem;
	transform: translate(0, -2px);
	vertical-align: middle;
	width: var(--input-toggleable-size);

	+ span {
		position: relative;
	}

	&[disabled] + span {
		opacity: 0.5;
		pointer-events: none;
	}
}

input.switch {
	display: none;

	+ span {
		padding-left: 48px;
	}

	+ span::before {
		background: var(--chalky-grey);
		border-radius: 1rem;
		content: ' ';
		height: calc(var(--input-toggleable-size) + 4px);
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.15s ease-in-out;
		width: calc(var(--input-toggleable-size) * 2 + 4px * 2);
	}

	+ span::after {
		background: var(--chalky-blue);
		border-radius: 1rem;
		content: ' ';
		height: var(--input-toggleable-size);
		left: 2px;
		position: absolute;
		top: 2px;
		transition: all 0.15s ease-in-out;
		width: var(--input-toggleable-size);
	}

	&:checked + span::before {
		background: var(--chalky-lightblue);
	}

	&:checked + span::after {
		background: var(--chalky-white);
		transform: translateX(calc(var(--input-toggleable-size) + 4px));
	}
}

// Buttons
// ---------------------------------------------------------------------------

button,
.btn,
[class~='button-primary'],
[class~='button-secondary'],
[class~='button-tertiary'] {
	--background-color: var(--button-primary-background);
	--button-disabled-background: var(--button-primary-background-disabled);
	--button-disabled-border: var(--button-primary-border-disabled);
	--button-disabled-color: var(--button-primary-color-disabled);
	--foreground-color: var(--button-primary-color);
	--font-size: var(--font-size-normal);

	background-color: var(--background-color);
	border-radius: var(--button-border-radius);
	border: var(--button-primary-border);
	color: var(--foreground-color);
	font-size: var(--font-size);
	font-weight: var(--font-weight-regular);
	overflow: hidden;
	padding: calc(var(--font-size) * 0.5) calc(var(--font-size) * 1.5);
	position: relative;

	> i,
	> span {
		position: relative;
		z-index: 2;
	}

	.icon {
		margin: 0.5rem;
		margin-left: 0;

		&:last-child,
		&:last-of-type {
			margin-right: 0;
		}
	}

	&.icon-only {
		background-color: transparent;
		border: none;
		color: var(--button-primary-color);
		font-size: 0;
		margin: 0;
		padding: 0.5rem;
	}

	&:not(.no-hover) {
		border: 1px solid transparent;
	}

	&.plain {
		background-color: initial;
		border-color: transparent;
		border-radius: 0;
		// color: inherit;
		margin: 0;
		padding: 0;
	}

	&.button-secondary {
		--background-color: var(--button-secondary-background);
		--button-disabled-background: var(--button-secondary-background-disabled);
		--button-disabled-border: var(--button-secondary-border-disabled);
		--button-disabled-color: var(--button-secondary-color-disabled);
		--foreground-color: var(--button-secondary-color);

		border: var(--button-secondary-border);
	}

	&.button-tertiary {
		--background-color: var(--button-tertiary-background);
		--button-disabled-background: var(--button-tertiary-background-disabled);
		--button-disabled-border: var(--button-tertiary-border-disabled);
		--button-disabled-color: var(--button-tertiary-color-disabled);
		--foreground-color: var(--button-tertiary-color);

		border: var(--button-tertiary-border);
	}

	&.button-facebook {
		--background-color: var(--button-facebook-background);
		--foreground-color: var(--button-facebook-color);

		border: var(--button-facebook-border);
	}

	&.button-google {
		--background-color: var(--button-google-background);
		--foreground-color: var(--button-google-color);

		border: var(--button-google-border);
	}

	&.button-linkedin {
		--background-color: var(--button-linkedin-background);
		--foreground-color: var(--button-linkedin-color);

		border: var(--button-linkedin-border);
	}

	&.button-github {
		--background-color: var(--button-github-background);
		--foreground-color: var(--button-github-color);

		border: var(--button-github-border);
	}

	&.size-large {
		--button-control-size: 3rem;
		--font-size: var(--font-size-large);
		background-size: 50%;
	}

	&.size-medium {
		--button-control-size: 2.5rem;
		--font-size: var(--font-size-medium);
		background-size: 50%;
	}

	&.size-normal {
		--button-control-size: 2rem;
		--font-size: var(--font-size-normal);
		background-size: 50%;
	}

	&.size-small {
		--button-control-size: 1.75rem;
		--font-size: var(--font-size-small);
		background-size: 50%;
	}

	&.size-x-small {
		--button-control-size: 1.5rem;
		--font-size: var(--font-size-x-small);
		background-size: 50%;
	}

	&.size-xx-small {
		--button-control-size: 1.25rem;
		--font-size: var(--font-size-xx-small);
		background-size: 50%;
	}

	&[disabled] {
		--background-color: var(--button-disabled-background);
		--foreground-color: var(--button-disabled-color);

		border: var(--button-disabled-border);
		cursor: no-drop;
		pointer-events: none;
	}
}

button.control,
.btn.control {
	background-color: var(--chalky-white);
	border: 1px solid rgba(0, 0, 0, 0.075);
	box-shadow: 0px 0.5px 2.8px rgba(0, 0, 0, 0.02), 0px 4px 22px rgba(0, 0, 0, 0.04);
	color: var(--chalky-grey-4);
	font-size: 0;
	height: var(--button-control-size);
	padding: 0;
	width: var(--button-control-size);

	&.round {
		border-radius: 50%;
	}

	&.no-shadow {
		box-shadow: none;
	}

	&.size-lg {
		--button-control-size: 60px;
	}

	&.type-up,
	&.type-arrowup {
		@extend .icon-arrowup;
	}

	&.type-down,
	&.type-arrowdown {
		@extend .icon-arrowdown;
	}

	&.type-right,
	&.type-arrowright {
		@extend .icon-arrowright;
	}

	&.type-left,
	&.type-arrowleft {
		@extend .icon-arrowleft;
	}

	&.type-check,
	&.type-checkmark {
		@extend .icon-checkmark;
	}

	&.type-zoomin {
		@extend .icon-zoomin;
	}

	&.type-zoomout {
		@extend .icon-zoomout;
	}

	&.type-location {
		@extend .icon-location;
	}

	&.type-plus {
		@extend .icon-plus;
	}

	&.type-list {
		@extend .icon-list;
	}

	&.type-minus {
		@extend .icon-minus;
	}

	&.type-menu {
		@extend .icon-menu;
	}

	&.type-close {
		@extend .icon-close;
	}

	&.type-fullscreen {
		@extend .icon-fullscreen;
	}

	&.type-save {
		@extend .icon-save;
	}

	&.type-volumeoff {
		@extend .icon-volumeoff;
	}

	&.type-volumeon {
		@extend .icon-volumeon;
	}

	&.type-information {
		@extend .icon-information;
	}

	&.type-speech {
		@extend .icon-speech;
	}

	&.type-edit {
		@extend .icon-edit;
	}

	&.type-chalkysticks {
		@extend .icon-chalkysticks;
	}

	&.type-heartoutline {
		@extend .icon-heartoutline;
	}

	&.type-heartfill {
		@extend .icon-heartfill;
	}

	&.type-shareoutline {
		@extend .icon-shareoutline;
	}

	&.type-sharefill {
		@extend .icon-sharefill;
	}

	&.type-search {
		@extend .icon-search;
	}

	&.type-send {
		@extend .icon-send;
	}

	&.type-alarm {
		@extend .icon-alarm;
	}
}

button.control.theme-dark,
.btn.control.theme-dark {
	background-color: var(--chalky-blue);
	color: var(--chalky-white);
}

.control-group {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

.control-group.horizontal {
	flex-direction: row;
}

.button-group {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;

	> * {
		flex: 1 1 auto;
	}
}

// User Interaction
// ---------------------------------------------------------------------------

button:hover:not(.no-hover) {
	border: 1px solid var(--chalky-red-4);

	&.plain {
		border: 1px solid transparent;
	}

	&.button-secondary {
		border: 1px solid var(--chalky-blue-4);
	}

	&.button-tertiary {
		border: 1px solid var(--chalky-grey-4);
	}

	&[disabled] {
		border: 1px solid transparent;
	}

	&.button-facebook {
		--background-color: var(--social-facebook-background-hover);
	}

	&.button-google {
		--background-color: var(--social-google-background-hover);
	}

	&.button-linkedin {
		--background-color: var(--social-linkedin-background-hover);
	}

	&.button-github {
		--background-color: var(--social-github-background-hover);
	}
}

button.icon-only:hover {
	border: 0 !important;
}

button.icon-only:active {
	transform: translate(1px, 1px);
}

button:active:not(.icon-only) {
	--background-color: var(--chalky-red-2);
	transform: translate(1px, 1px);

	&.plain {
		background-color: transparent;
	}

	&.button-secondary {
		background-color: var(--chalky-blue-4);
	}

	&.button-tertiary {
		background-color: var(--chalky-offwhite);
	}

	&.control {
		background-color: var(--chalky-offwhite);
	}

	&.button-facebook {
		--background-color: var(--social-facebook-background-active);
	}

	&.button-google {
		--background-color: var(--social-google-background-active);
	}

	&.button-linkedin {
		--background-color: var(--social-linkedin-background-active);
	}

	&.button-github {
		--background-color: var(--social-github-background-active);
	}
}

button:active::before {
	animation: none;
}

label:has(input:active),
label:has(input:focus) {
	h6 {
		color: var(--body-color);
	}
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='text'],
select,
textarea {
	&:hover {
		border-color: var(--chalky-grey-2);
	}

	&:active,
	&:focus {
		border-color: var(--body-color);
		outline: var(--input-outline-width) solid var(--chalky-grey-2);
	}
}
