
@import "./variables.scss";


// Layout
// ---------------------------------------------------------------------------


// Form
// ---------------------------------------------------------------------------

form {
    fieldset {
        legend {
            display: none;
        }

        ~ footer {
            text-align: right;
        }
    }

    label {
        display: block;
        margin: 1.5rem 0;
        width: 100%;

        h3 {
            color: $chalky-blue;
            font-size: 0.875rem !important;
            letter-spacing: 0 !important;
            margin-bottom: 0.25rem;
            text-transform: uppercase;
        }

        input[type=email],
        input[type=password],
        input[type=text],
        textarea {
            background: white;
            border: 1px solid $chalky-blue;
            border-radius: 3px;
            padding: 0.25rem 0.5rem;
            width: 100%;
        }
    }
}


// Buttons
// ---------------------------------------------------------------------------

button {
    border: 0;
    background-color: $chalky-blue;
    color: $chalky-white;
    font-weight: 600;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;

    &:before {
        background: linear-gradient(#000, #fff);
        content: " ";
        height: 200%;
        left: 0;
        position: absolute;
        opacity: 0;
        right: 0;
        transform: translate(0, 0);
        transition: all 0.15s ease-in-out;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    > i,
    > span {
        position: relative;
        z-index: 2;
    }

    i {
        margin: 0.5rem;
        margin-left: 0;
    }

    &.btn-social {
        &.type-facebook {
            background-color: #3B5998;
            color: white;
        }

        &.type-twitter {
            background-color: #55ACEE;
            color: white;
        }

        &.type-google {
            background-color: #dd4b39;
            color: white;
        }
    }

    &[type=reset],
    &[disabled] {
        background-color: $chalky-light;
    }

    &[disabled] {
        pointer-events: none;
    }
}


// User Interaction
// ---------------------------------------------------------------------------

button:hover::before {
    animation: button-sway 1s infinite;
    opacity: 0.15;
    z-index: 2;
}

button:active {
    transform: translate(1px, 1px);
}

button:active::before {
    animation: none;
}


// Button Animation
// ---------------------------------------------------------------------------

@keyframes button-sway {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -50%);
    }
    100% {
        transform: translate(0, 0%);
    }
}