
@import "./variables.scss";


// Layout
// ---------------------------------------------------------------------------

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --chalky-black: $chalky-black;
    --chalky-blue: $chalky-blue;
    --chalky-green: $chalky-green;
    --chalky-red: $chalky-red;
    --chalky-white: $chalky-white;
    --font-stack-body: $font-stack-body;
}
