// Layout
// ---------------------------------------------------------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
	scrollbar-width: thin;
}

html,
body {
	margin: 0;
	padding: 0;
}

figure {
	margin: 0;
}

header:has(.type-title) {
	margin-bottom: 3rem;
}

// State
// ---------------------------------------------------------------------------

.state-is-mobile .mobile-only,
.is-mobile .mobile-only {
	display: block;
}
