// Layout
// ---------------------------------------------------------------------------

*,
*:before,
*:after {
    box-sizing: border-box;
}

figure {
	margin: 0;
}

.mobile-only {
	display: none;
}


// State
// ---------------------------------------------------------------------------

.state-is-mobile .mobile-only,
.is-mobile .mobile-only {
	display: block;
}
