// Layout
// ---------------------------------------------------------------------------

html,
body {
    font-family: var(--font-stack-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
	cursor: pointer;
	letter-spacing: 1px;
	text-decoration: none;

	&:hover span {
		color: var(--chalky-black);
	}
}
