:root {
	// 0. Sizes
	// ------------------------------------------------------------------------------

	--divider-spacing-y: 4rem;


	// 1. Colors
	// ------------------------------------------------------------------------------

	--chalky-black: #343434;
	--chalky-blue: #2B3544;
	--chalky-blue-dark: #11181F;
	--chalky-blue-light: #32435C;
	--chalky-light: #d1d1d1;
	--chalky-green: #5DD888;
	--chalky-red: #D14545;
	--chalky-red-dark: #642021;
	--chalky-white: #F7F7F7;


	// 2. Typography
	// ------------------------------------------------------------------------------

	--font-stack-body: "Prelo", Georgia, serif;
	--font-stack-chalky: "Prelo", Georgia, serif;
}
