// Layout
// ---------------------------------------------------------------------------

.glass-panel {
	background: rgba(245, 245, 245, 0.65);
	backdrop-filter: blur(0.75em);
}

.glass-panel-small {
	background: rgba(245, 245, 245, 0.65);
	backdrop-filter: blur(4px);
}
