
@import "../variables";


// Layout
// ---------------------------------------------------------------------------

header.type-primary {
    align-items: center;
    background-color: $chalky-blue;
    border-bottom: 1px solid $chalky-black;
    color: $chalky-white;
    display: flex;
    font-size: 1.25rem;
    padding: 1.5rem;

    .nav {
        font-size: 0.90em;

        a {
            color: $chalky-white;
        }
    }
}


// User Interaction
// ---------------------------------------------------------------------------

header.type-primary {
    .nav {
        a:hover {
            opacity: 0.75;
        }
    }
}