
// Layout
// ---------------------------------------------------------------------------

header.type-primary {
    align-items: center;
    background-color: $chalky-blue;
    border-bottom: 1px solid $chalky-black;
    color: $chalky-white;
    display: flex;
    font-size: 1.25rem;
    padding: 1.5rem;
}
