// Layout
// ---------------------------------------------------------------------------

header > mark {
	background: var(--chalky-red);
	border-radius: 5px;
	color: var(--chalky-white);
	font-size: 0.675rem;
	font-weight: 500;
	padding: 3px 10px;
}
