
// Independent Badge (rounded corners)
// ---------------------------------------------------------------------------

.branding-chalky-badge {
    $size: 75px;

    background-color: var(--chalky-blue);
    border-radius: 6px;
    display: inline-block;
    height: $size;
    position: relative;
    width: $size;

    &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='auto' viewBox='0 0 64.545 77.998' xml:space='preserve'%3E%3Cpath fill='%23F7F7F7' d='M32.398,77.998l8.488-9.078c0,0-20.66-20.687-23.915-24.536 c-4.04-4.775-4.708-9.671-4.29-13.734c0.215-5.493,4.506-18.46,20.444-18.296c15.39,1.104,19.175,14.558,18.665,21.337 c0.105,3.946-2.616,10.649-9.822,17.124c3.564,3.355,8.489,8.279,8.489,8.279S65.06,49.047,64.531,30.592 C64.002,12.139,48.551,0,32.398,0C14.912,0.393,0,12.093,0,33.061c0.237,10.57,5.423,17.705,10.061,22.233 C12.366,57.705,32.398,77.998,32.398,77.998z' /%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: " ";
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
    }

    &.size-sm {
        $size: 30px;

        height: $size;
        width: $size;
    }

    &.size-lg {
        $size: 125px;

        height: $size;
        width: $size;
    }
}

.branding-chalky-badge.on-light {
    background-color: var(--chalky-white);

    &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='auto' viewBox='0 0 64.545 77.998' xml:space='preserve'%3E%3Cpath fill='%232B3544' d='M32.398,77.998l8.488-9.078c0,0-20.66-20.687-23.915-24.536 c-4.04-4.775-4.708-9.671-4.29-13.734c0.215-5.493,4.506-18.46,20.444-18.296c15.39,1.104,19.175,14.558,18.665,21.337 c0.105,3.946-2.616,10.649-9.822,17.124c3.564,3.355,8.489,8.279,8.489,8.279S65.06,49.047,64.531,30.592 C64.002,12.139,48.551,0,32.398,0C14.912,0.393,0,12.093,0,33.061c0.237,10.57,5.423,17.705,10.061,22.233 C12.366,57.705,32.398,77.998,32.398,77.998z' /%3E%3C/svg%3E");
    }
}


// Logo Only
// ---------------------------------------------------------------------------

.branding-icon {
    height: 78px;
    width: 65px;

    &.size-sm {
        height: 78px * 0.5;
        width: 65px * 0.5;
    }

    &.size-lg {
        height: 78px * 1.5;
        width: 65px * 1.5;
    }
}

.branding-logo-icon,
.branding-logo-icon.on-light {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 64.545 77.998' enable-background='new 0 0 64.545 77.998' xml:space='preserve'%3E%3Cpath fill='%232B3544' d='M32.398,77.998l8.488-9.078c0,0-20.66-20.687-23.915-24.536 c-4.04-4.775-4.708-9.671-4.29-13.734c0.215-5.493,4.506-18.46,20.444-18.296c15.39,1.104,19.175,14.558,18.665,21.337 c0.105,3.946-2.616,10.649-9.822,17.124c3.564,3.355,8.489,8.279,8.489,8.279S65.06,49.047,64.531,30.592 C64.002,12.139,48.551,0,32.398,0C14.912,0.393,0,12.093,0,33.061c0.237,10.57,5.423,17.705,10.061,22.233 C12.366,57.705,32.398,77.998,32.398,77.998z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.branding-logo-icon.type-white,
.branding-logo-icon.on-dark {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 64.545 77.998' enable-background='new 0 0 64.545 77.998' xml:space='preserve'%3E%3Cpath fill='%23F7F7F7' d='M32.398,77.998l8.488-9.078c0,0-20.66-20.687-23.915-24.536 c-4.04-4.775-4.708-9.671-4.29-13.734c0.215-5.493,4.506-18.46,20.444-18.296c15.39,1.104,19.175,14.558,18.665,21.337 c0.105,3.946-2.616,10.649-9.822,17.124c3.564,3.355,8.489,8.279,8.489,8.279S65.06,49.047,64.531,30.592 C64.002,12.139,48.551,0,32.398,0C14.912,0.393,0,12.093,0,33.061c0.237,10.57,5.423,17.705,10.061,22.233 C12.366,57.705,32.398,77.998,32.398,77.998z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
}
